h2 {
    font-size: 30px;
    padding-top: 16px;
}

.custom-divider {
    border-top: 1px solid rgba(0, 0, 0, .2);
}

p {
    padding-top: 30px;
    font-size: 24px;
    line-height: 1.4;
}

a {
    padding-top: 30px;
    font-size: 20px;
}

.main-content {
    margin-left: 60px;
    margin-right: 60px;
}