<div class="main-content pt-20">
    <h2>Đăng nhập</h2>
    <hr class="custom-divider">
    <p> - Để đăng nhập bắt buộc phải có tài khoản gmail thuộc Học Viện Hàng Không Việt Nam <br>
        - Ví dụ có định dạng như sau: ***{{ '@' }}vaa.edu.vn
    </p>

    <!-- <a id="loginGoogleButton">Nhấn vào hình dưới đây để đăng nhập, đăng nhập với Google !!!</a>
    <a>
        <img src="/assets/images/google-plus-2-xxl.png" class="rounded-lg h-32 w-32" alt="">
    </a> -->
    <asl-google-signin-button type='standard' size='medium'>
    </asl-google-signin-button>
</div>