<div *ngIf="!error" class="pt-20 pb-40">
    <div class="mt-4 mb-6">
        <span class="ml-200"><a class="text-gray-700" href="/my-contest">Quản lí Contest</a></span> > <span
            class="text-gray-700">Chỉnh sửa
            contest</span>
    </div>
    <hr class="custom-divider">
    <div class="main-content mt-4">
        <span class="text-3xl">{{contest.title}}</span>
        <div class="mt-2"></div>
        <p class="text-sm"><a>{{domainName}}/landing/{{contest.id}}</a></p>
        <div class="mt-10 h-16 bg-white p-4 border border-gray-300">
            <ul class="nav-tabs flex ">
                <li (click)="clickTab(0)" data-tab="overview"
                    [ngClass]="{'active border-b-0 border border-gray-300': index === 0}"><a
                        class="text-gray-600 cursor-pointer p-3 pad px-6 block">Details</a></li>
                <li (click)="clickTab(1)" data-tab="challenges"
                    [ngClass]="{'active border-b-0 border border-gray-300': index === 1}"><a
                        class="text-gray-600 cursor-pointer p-3 pad px-6 block">Challenges</a></li>
                <li (click)="clickTab(2)" data-tab="notification"
                    [ngClass]="{'active border-b-0 border border-gray-300': index === 2}"><a
                        class="text-gray-600 cursor-pointer p-3 pad px-6 block">Notifications</a></li>
                <li (click)="clickTab(3)" data-tab="notification"
                    [ngClass]="{'active border-b-0 border border-gray-300': index === 3}"><a
                        class="text-gray-600 cursor-pointer p-3 pad px-6 block">Participants</a></li>
                <li (click)="clickTab(4)" data-tab="notification"
                    [ngClass]="{'active border-b-0 border border-gray-300': index === 4}"><a
                        class="text-gray-600 cursor-pointer p-3 pad px-6 block">Signups</a></li>
                <li (click)="clickTab(5)" data-tab="details"
                    [ngClass]="{'active border-b-0 border border-gray-300': index === 5}"><a
                        class="text-gray-600 cursor-pointer p-3 pad px-6 block">Statistics</a></li>
            </ul>
        </div>
        <div *ngIf="index === 0">
            <div class="mt-10 flex">
                <div class="w-1/4">
                    <span class="text-base"> Tên Contest</span>
                    <span class="text-red-400"> *</span>
                </div>
                <div class="w-3/4">
                    <input type="text" [(ngModel)]="contest.title"
                        class="border border-gray-300 px-3 py-1 w-1/3 rounded transition duration-300 ease-in-out hover:border-blue-500">
                </div>
            </div>
            <div class="mt-10 flex">
                <div class="w-1/4">
                    <span class="text-base"> Mô tả</span>
                    <span class="text-red-400"> *</span>
                </div>
                <div class="w-3/4">
                    <ckeditor [(ngModel)]="contest.description" [editor]="Editor"></ckeditor>
                </div>
            </div>
            <div class="mt-10 flex">
                <div class="w-1/4">
                    <span class="text-base">Thời gian bắt đầu</span>
                    <span class="text-red-400"> *</span>
                </div>
                <div class="w-3/4">
                    <input type="date" id="datePickerStart" [(ngModel)]="contest.startTime"
                        class="border border-gray-300 px-3 py-1 w-1/3 rounded transition duration-300 ease-in-out hover:border-blue-500">
                    <span class="ml-4 mr-4">at</span>
                    <input type="time" [(ngModel)]="contest.hourStart"
                        class="border border-gray-300 px-3 py-1 w-1/5 rounded transition duration-300 ease-in-out hover:border-blue-500">
                </div>
            </div>
            <div class="mt-10 flex" *ngIf="!isChecked">
                <div class="w-1/4">
                    <span class="text-base">Thời gian kết thúc</span>
                    <span class="text-red-400"> *</span>
                </div>
                <div class="w-3/4">
                    <input type="date" id="datePickerEnd" [(ngModel)]="contest.endTime"
                        class="border border-gray-300 px-3 py-1 w-1/3 rounded transition duration-300 ease-in-out hover:border-blue-500">
                    <span class="ml-4 mr-4">at</span>
                    <input type="time" [(ngModel)]="contest.hourEnd"
                        class="border border-gray-300 px-3 py-1 w-1/5 rounded transition duration-300 ease-in-out hover:border-blue-500">
                </div>
            </div>
            <div class="mt-4 flex">
                <div class="w-1/4">
                </div>
                <div class="w-3/4">
                    <input type="checkbox" (click)="change()" [(ngModel)]="isChecked" class="larger-checkbox ml-1">
                    <span class="ml-2">Contest này không có thời gian kết thúc</span>
                </div>
            </div>
            <div class="mt-10 flex">
                <div class="w-1/4">
                    <span class="text-base">Trạng thái</span>
                </div>
                <div class="w-3/4">
                    <span>{{contest.state}}</span>
                    <a (click)="changeState()" class="ml-2"><mat-icon title="Chuyển trạng thái"
                            style="vertical-align: middle; font-size: 20px;">radio_button_checked</mat-icon></a>
                </div>
            </div>
            <div class="mt-10 flex">
                <div class="w-1/4">
                    <span class="text-base">Mode</span>
                </div>
                <div class="w-3/4">
                    <select id="mySelect" [(ngModel)]="contest.mode"
                        class="border border-gray-300 rounded-md px-4 py-2 w-2/4">
                        <option value="NRR">Không cần đăng ký các thành viên tham gia</option>
                        <option value="RR">Phải đăng ký trước các thành viên tham gia</option>
                    </select>
                </div>
            </div>
            <button (click)="saveChange(0)" class="mt-10 mr-4 bg-button text-white py-2 px-4 border border-gray-400">
                Lưu thay đổi
            </button>
        </div>
        <div *ngIf="index === 1">
            <div class="mt-10"></div>
            <p class="text-2xl">Danh sách Problem</p>
            <div class="flex">
                <div class="w-1/2">
                    <button (click)="openForm()"
                        class="mt-4 mr-4 bg-white-b hover:bg-blue-500 text-black py-2 px-4 border border-gray-400">
                        Thêm problem
                    </button>
                </div>
                <div class="w-1/2 flex justify-end">
                    <button (click)="saveChange(1)" class="mt-4 bg-button text-white py-2 px-4 border border-gray-400">
                        Lưu thay đổi
                    </button>
                </div>
            </div>
            <div class="mt-4">
                <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" [nzPageIndex]="page"
                    [nzPageSize]="pageSize" [nzTotal]="total"></nz-pagination>
            </div>
            <div class="mt-4 table-content  ml-0 mx-auto overflow-auto">
                <table class="w-full border-collapse border border-gray-300">
                    <thead class="text-gray-600">
                        <tr>
                            <th class="text-left px-4 py-2" style="width: 10%;">STT</th>
                            <th class="text-left px-4 py-2" style="width: 30%;">Tên Problem</th>
                            <th class="px-4 py-2" style="width: 10%;">Điểm</th>
                            <th class="px-4 py-2" style="width: 15%;">Chủ sở hữu</th>
                            <th class="px-4 py-2" style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let prob of problems; let i = index" class="text-center border-bottom">
                            <td class="text-left px-4 py-2">{{i + 1}}.</td>
                            <td class="text-left px-4 py-2"><a (click)="redirect(prob.id)">{{prob.title}}</a></td>
                            <td class="px-4 py-2">{{prob.point}}</td>
                            <td class="px-4 py-2">{{prob.email}}</td>
                            <td class="py-2">
                                <a (click)="removeTask(i)"><mat-icon
                                        style="vertical-align: middle; color: grey; font-size: 20px;">close</mat-icon></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="index === 2">
            <div class="mt-10"></div>
            <p class="text-2xl">Thông báo cho các thành viên</p>
            <p class="w-2/5 text-gray-400 text-sm">Thông báo đến các thành viên đã tham gia vào contest bằng cách gửi
                cho họ các
                message. Tin
                nhắn của bạn sẽ được xuất hiện ở chính giữa màn hình của các người đã tham gia</p>
            <div class="mt-10 flex items-start">
                <div class="w-1/6">
                    <span class="font-bold">Message</span>
                </div>
                <div class="w-5/6">
                    <textarea [(ngModel)]="content" class="h-52 border border-gray-300 rounded lg:w-1/4" name=""
                        id=""></textarea>
                </div>
            </div>
            <button (click)="sendNotification()"
                class="mt-4 mr-4 bg-green-400 text-white py-2 px-4 border border-gray-200">
                Gửi tin nhắn
            </button>
        </div>
        <div *ngIf="index === 3">
            <div class="flex items-center" *ngIf="!contest.noTime">
                <button (click)="addMember()"
                    class="mt-4 mr-4 bg-blue-400 text-white py-2 px-4 rounded border border-gray-400">
                    Thêm thành viên
                </button>
                <div class="relative mt-4">
                    <input type="text" id="tag" (ngModel)="userSearch" (input)="onInputChangeUser($event)"
                        autocomplete="off" placeholder="Nhập email" name="tag"
                        class="font-thin border rounded p-2 mr-10" style="width: 300px;">
                    <div class="hidden absolute bg-white border border-gray-300 mt-1 w-full rounded shadow-md overflow-y-auto"
                        [ngClass]="{'block': user.id !== '',
                                    'hidden': user.id === ''}" style="max-height: 100px;" id="dropdown">
                        <ul>
                            <li (click)="clickUser()" class="hover:bg-gray-100 py-2 px-3 cursor-pointer">
                                {{user.email}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-4">
                <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" [nzPageIndex]="page"
                    [nzPageSize]="pageSize" [nzTotal]="total"></nz-pagination>
            </div>
            <div class="mt-4 table-content  ml-0 mx-auto overflow-auto">
                <table class="w-full border-collapse border border-gray-300">
                    <thead class="text-gray-600">
                        <tr>
                            <th class="text-left px-4 py-2" style="width: 20%;">Tên thành viên</th>
                            <th class="px-4 py-2" style="width: 20%;">Email</th>
                            <th class="px-4 py-2" style="width: 20%;">Khoa</th>
                            <th class="px-4 py-2" style="width: 10%;">Lớp</th>
                            <th class="px-4 py-2" style="width: 10%;">Đã đăng nhập</th>
                            <th class="px-4 py-2" style="width: 10%;">Vai trò</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let member of users; let i = index"
                            class="text-center border-bottom hover:bg-gray-100 cursor-pointer">
                            <td class="text-left px-4 py-2">{{member.name}}</td>
                            <td class="px-4 py-2">{{member.email}}</td>
                            <td class="px-4 py-2">{{member.faculty}}</td>
                            <td class="px-4 py-2">{{member.classname}}</td>
                            <td class="py-2">{{handYN(i)}}</td>
                            <td class="py-2">{{member.role!.code}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="index === 4">
            <div class="flex">
                <div class="w-1/2">
                    <button (click)="saveChange(4)"
                        class="mt-4 mr-4 bg-blue-400 text-white py-2 px-4 rounded border border-gray-400">
                        Lưu thay đổi
                    </button>
                </div>
                <div class="w-1/2 flex justify-end">
                    <button (click)="acceptedAll()"
                        class="mt-4 mr-4 bg-green-400 text-white py-2 px-4 rounded border border-gray-400">
                        Accept All
                    </button>
                    <button (click)="refuseAll()"
                        class="mt-4 mr-4 bg-red-400 text-white py-2 px-4 rounded border border-gray-400">
                        Refuse All
                    </button>
                </div>
            </div>
            <div class="mt-4">
                <nz-pagination (nzPageIndexChange)="onPageIndexChange($event)" [nzPageIndex]="page"
                    [nzPageSize]="pageSize" [nzTotal]="total"></nz-pagination>
            </div>
            <div class="mt-4 table-content  ml-0 mx-auto overflow-auto">
                <table class="w-full border-collapse border border-gray-300">
                    <thead class="text-gray-600">
                        <tr>
                            <th class="text-left px-4 py-2" style="width: 8%;">STT</th>
                            <th class="text-left px-4 py-2" style="width: 10%;">Tên thành viên</th>
                            <th class="px-4 py-2" style="width: 10%;">Khoa</th>
                            <th class="px-4 py-2" style="width: 10%;">Lớp</th>
                            <th class="px-4 py-2" style="width: 10%;">Trạng thái</th>
                            <th class="px-4 py-2" style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of signups; let i = index"
                            class="text-center border-bottom hover:bg-gray-100 cursor-pointer">
                            <td class="text-left px-4 py-2">{{i + 1}}.</td>
                            <td class="text-left px-4 py-2">{{user.name}}</td>
                            <td class="px-4 py-2">{{user.faculty}}</td>
                            <td class="px-4 py-2">{{user.classname}}</td>
                            <td class="px-4 py-2">{{contest.signups[i].status}}</td>
                            <td class="py-2">
                                <a *ngIf="contest.signups[i].status === 'signedUp'" (click)="accepted(i)"
                                    class="bg-gray-300 rounded-full py-1 px-1 mr-2"><mat-icon title="Cho phép tham gia"
                                        style="vertical-align: middle; color: green; font-size: 20px;">check</mat-icon></a>
                                <a *ngIf="contest.signups[i].status === 'signedUp'" (click)="refuse(i)"
                                    class="bg-gray-300 rounded-full py-1 px-1"><mat-icon title="Từ chối tham gia"
                                        style="vertical-align: middle; color: red; font-size: 20px;">close</mat-icon></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="index === 5">
            <div class="flex mt-4 items-center">
                <div class="w-1/3 font-bold">
                    <p>Số lượng đăng ký:</p>
                    <p>Số lượng tham gia:</p>
                    <p>Số lượng thành viên đã submit code:</p>
                    <p>Tổng số bài nộp:</p>
                </div>
                <div class="w-1/3">
                    <p>{{signedUp()}}</p>
                    <p>{{joined()}}</p>
                    <p>{{statisticUser['count']}}</p>
                    <p>{{statisticUser['total']}}</p>
                </div>
                <div class="w-1/3">
                    <canvas baseChart width="160" height="160" type="pie" [data]="chartData">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed bg-white border border-t-1 pb-4 mt-20 bottom-0 left-0 right-0 z-10">
        <button (click)="redirectLandingPage(contest.id)"
            class="ml-10 mt-4 mr-4 bg-white-b text-white py-2 px-4 border border-gray-400">
            Preview Landing Page
        </button>
        <button (click)="redirectChallengesPage(contest.id)"
            class="ml-10 mt-4 mr-4 bg-white-b text-white py-2 px-4 border border-gray-400">
            Preview Challenges Page
        </button>
    </div>
</div>
<div class="flex items-center justify-center">
    <div *ngIf="showAddProblemForm"
        class="absolute top-0 left-0 w-full z-50 h-full bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white p-6 rounded shadow-lg">
            <h3 class="text-lg font-semibold mb-2">Thêm Prolem</h3>
            <div class="space-y-4">
                <div class="flex items-center">
                    <div class="w-1/4">
                        <label for="email" class="block">Tên:</label>
                    </div>
                    <div class="w-3/4 relative">
                        <input [(ngModel)]="problem.title" (keyup)="onInputChange($event)" type="text" id="tag"
                            autocomplete="off" placeholder="Tên Problem" name="tag"
                            class="font-thin border rounded p-2 mr-10" style="width: 300px;">
                        <div class="absolute bg-white border border-gray-300 mt-1 w-full rounded shadow-md overflow-y-auto"
                            [ngClass]="{'block': problemsSearch.length !== 0,
                                    'hidden': problemsSearch.length === 0}" style="max-height: 100px;" id="dropdown">
                            <ul *ngFor="let p of problemsSearch">
                                <li (click)="chooseProblem(p)" class="hover:bg-gray-100 py-2 px-3 cursor-pointer">
                                    {{p.title}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="flex items-center" style="margin-top: 30px;">
                    <div class="w-1/4">
                        <label for="email" class="block">Điểm:</label>
                    </div>
                    <div class="w-3/4 pr-10">
                        <input (input)="validatePositiveNumber($event)" type="number" [(ngModel)]="problem.point"
                            placeholder="Điểm" class="font-thin border rounded p-2 mr-10" style="width: 300px;">
                    </div>
                </div>
                <div class="flex justify-end" style="margin-top: 30px;">
                    <button type="button" (click)="addProblem()"
                        class="bg-blue-500 text-white px-4 py-2 rounded">Thêm</button>
                    <button type="button" (click)="closeForm()"
                        class="bg-gray-300 text-gray-700 px-4 py-2 rounded ml-2 font-bold text-white">X</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="error" class="pt-20">
    <h1 class="text-black flex justify-center items-center">Không tìm thấy trang</h1>

</div>